# Data
DATA/background_edges.csv
DATA/edges.csv
DATA/nodes.csv
DATA/background_nodes.csv
DATA/connected_components.csv
DATA/visualizations

DATA/processed/arrays/edge_features.npy


# Notebooks checkpoints
.ipynb_checkpoints/

# Python artifacts
__pycache__/
*.pyc
.venv/
.env

.idea/

.claude/